// Define variables for your color scheme

$green: #00FFB7;

$blue: #1CA9FF;

$light-light-grey: #FAFAFA;
$light-grey: #F7F7F7;

$bg-black: #0A0A0A;
$font-text-black: #242424;
$black: #000000;

$footer-black: #161616;
