// Define variables for your color scheme

$green: #00FFB7;

$light-light-grey: #FAFAFA;
$light-grey: #F7F7F7;

$light-black: #191919;
$font-text-black: #242424;
$black: #000000;

$footer-black: #161616;
