.app-page-wrapper{
  font-family: $body;
}
.page-1-app-container{
  display: flex;
  height: 95vh;
  .text-container{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text-content{
      margin-left: 120px;
      margin-top: 80px;
      h1{
        font-size: 80px;
        font-weight: 900;
        text-transform: uppercase;
        span{
          color: $green;
        }
      }
      p{
        font-size: 26px;
        font-weight: 500;
        color: $light-black;
        margin: 50px 0 70px 0;
      }
    }
    .app-download-btn{
      margin-left: 120px;
      img{
        margin-top: 160px;
        width: 50%;
      }
    }
  }
  .iphone-mockup{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
      margin-top: 180px;
      width: 50%;
      margin-right: 50px;
    }
  }
}

.all-page-app-container{
  display: flex;
  height: 95vh;
  .black-bg{
    background-color: $black;
  }
  .white-bg{
    background-color: white;
  }
  .text-container{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text-color-white{
      color: white;
    }
    .text-color-black{
      color: $black;
    }
    .text-content{
      margin-left: 120px;
      h1{
        font-size: 55px;
        font-weight: 900;
        text-transform: uppercase;
        span{
          color: $green;
        }
      }
      p{
        font-size: 23px;
        font-weight: 500;
        margin: 40px 0 40px 0;
      }
      p.hash-tag{
        font-weight: 700;
        margin-bottom: 40px;
        margin-top: 10px;
      }
      a{
        text-decoration: none;
        color: $green;
        display: flex;
        align-items: flex-end;
        margin-bottom: 70px;
        p#btn-know-more{
          font-weight: 700;
          margin: 0;
          margin-top: 40px;
        }
        i{
          margin-left: 20px;
          margin-top: 40px;
          font-size: 23px;
        }
      }
    }
    .sum-up-infos{
      color: white;
      .infos{
        margin: 0 120px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #4A4A4A;
        padding: 40px 0;
        img{
          width: 50px;
        }
        p{
          margin-left: 20px;
          font-size: 20px;
        }
      }
      .infos:last-child{
        border: 0;
      }
      .border-light{
        border-bottom: 1px solid #D0D0D0;
      }
    }
    .text-color-black{
      color: $black;
    }
  }
  .iphone-mockup{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
      margin-top: 50px;
      width: 50%;
      margin-right: 50px;
    }
  }
  .light-grey-bg{
    background-color: $light-grey;
  }
  .grey-bg{
    background-color: #EBEBEB;
  }
}

@media (max-width: 1450px), (max-height: 800px){
  .app-page-wrapper{
    .page-1-app-container{
      .text-container{
        .text-content{
          h1{
            font-size: 75px;
          }
          p{
            font-size: 21px;
          }
        }
        .app-download-btn{
          margin-left: 120px;
          img{
            margin-top: 80px;
            width: 50%;
          }
        }
      }.iphone-mockup{
        img{
          margin-top: 150px;
          width: 45%;
          margin-right: 50px;
        }
      }
    }
    .all-page-app-container{
      .text-container{
        .text-content{
          h1{
            font-size: 60px;
          }
          p{
            font-size: 20px;
            font-weight: 300;
            margin: 30px 0 25px 0;
          }
          p.hash-tag{
            font-weight: 400;
            margin-bottom: 30px;
            margin-top: 30px;
          }
          a{
            margin-bottom: 60px;
            p#btn-know-more{
              font-size: 21px;
              font-weight: 400;
              margin: 0;
              margin-top: 30px;
            }
            i{
              margin-left: 20px;
              margin-bottom: px;
              font-size: 23px;
              margin-top: 30px;
            }
          }
        }
        .sum-up-infos{
          .infos{
            padding: 30px 0;
            img{
              width: 40px;
            }
            p{
              margin-left: 20px;
              font-size: 19px;
            }
          }
          .infos:last-child{
            border: 0;
          }
          .border-light{
            border-bottom: 1px solid #D0D0D0;
          }
        }
        .text-color-black{
          color: $black;
        }
      }
      .iphone-mockup{
        img{
          margin-top: 50px;
          width: 45%;
          margin-right: 40px;
        }
      }
      .light-grey-bg{
        background-color: $light-grey;
      }
      .grey-bg{
        background-color: #EBEBEB;
      }
    }
  }
}
