.main-mobile-app-container{
  font-family: $body;
  width: 100vw;
  .page-mobile-app-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .text-content{
      margin-top: 30%;
      margin-left: 15px;
      margin-bottom: 6%;
      h1{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 15px;
        span{
          color: $green;
        }
      }
      p{
        font-size: 16px;
        font-weight: 300;

      }
      p.title{
        margin-bottom: 16px;
        font-weight: 400;
      }
    }
    .page-margin{
      margin-top: 10%;
      margin-bottom: 7%;
    }
    .info-bullets-container{
      margin-left: 15px;
      width: 80%;
      .info-bullet{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #4A4A4A;
        padding: 20px 0;

        img{
          width: 35px;
        }
        p.info{
          font-size: 15px;
          font-weight: 500;
          margin-left: 15px;
        }
      }
      .info-bullet:last-child{
        border: none;
      }
      .border-light-grey{
        border-bottom: 1px solid #D0D0D0;
      }
    }
    a{
      margin-left: 15px;
      display: flex;
      align-items: center;
      color: $green;
      margin-bottom: 40px;
      p.link-green{
        font-size: 16px;
        font-weight: 500;
      }
      i{
        margin-left: 15px;
        font-size: 16px;
      }
    }
    img.app-btn-download{
      margin-left: 15px;
      margin-bottom: 30px;
      margin-top: 20px;
      width: 45%;
    }
    .phone{
      text-align: center;
      margin-right: 7%;
      img{
        width: 70%;
      }
    }
    .phone-page{
      display: flex;
      justify-content: flex-end;
      align-self: center;
      img{
        width: 100%;
      }
    }
  }
  .white-bg{
    background-color: white;
    color: black;
  }
  .black-bg{
    background-color: $light-black;
    color: $light-grey;
  }
}
