.buy-mobile-container{
  font-family: $body;
  .page-mobile-container{
    .page-mobile-content-1{
      .text-container{
        margin-left: 15px;
        margin-top: 80px;
        .text-content{
          h1{
            font-size: 48px;
            font-weight: 500;
            color: $black;
            span{
              color: $green;
            }
          }
          p{
            font-weight: 400;
            font-size: 15px;
            color: $font-text-black;
            margin-top: 10px;
            margin-bottom: 26px;
          }
          a{
            padding: 8px 20px;
            border: 1px solid $black;
            border-radius: 25px;
            font-weight: 300;
            color: $black;
            text-decoration: none;
            font-size: 15px;
          }
        }
      }
      .image{
        display: flex;
        align-items: flex-end;
        img{
          width: 100%;
        }
      }
    }
    .page-mobile-content-2{
      h2{
        font-size: 40px;
        font-weight: 500;
        color: $black;
        margin-top: 35px;
        text-align: center;
        span{
          color: $green;
        }
      }
      a{
        padding: 8px 20px;
        border: 1px solid $blue;
        border-radius: 25px;
        font-weight: 300;
        color: $blue;
        text-decoration: none;
        font-size: 15px;
        margin-left: 15px;
      }
      .image{
        text-align: center;
        img{
          width: 80%;
        }
      }
      .ecomode-container{
        display: flex;
        flex-direction: column;
        margin: 33px 0 10px;
        .eco{
          display: flex;
          align-items: center;
          margin-bottom: 22px;
          margin-left: 15px;
          img{
            width: 35px;
          }
          p{
            font-weight: 400;
            font-size: 15px;
            color: $font-text-black;
            margin-left: 15px;
            span{
              font-weight: 300;
            }
          }
        }
      }
    }
    .page-mobile-content-3{
      .text-container{
        margin-left: 15px;
        margin-top: 70px;
        .text-content{
          h2{
            font-size: 48px;
            font-weight: 500;
            color: $black;
            span{
              color: $green;
            }
          }
          p{
            font-weight: 400;
            font-size: 15px;
            color: $font-text-black;
            margin-top: 10px;
            margin-bottom: 26px;
          }
          a{
            padding: 8px 20px;
            border: 1px solid $blue;
            border-radius: 25px;
            font-weight: 300;
            color: $blue;
            text-decoration: none;
            font-size: 15px;
          }
        }
      }
      .image{
        display: flex;
        align-items: flex-end;
        img{
          width: 100%;
        }
      }
    }
    .page-mobile-content-4{
      .text-container{
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 20px;
        .text-content{
          text-align: right;
          h2{
            font-size: 38px;
            font-weight: 500;
            color: $black;
            span{
              color: $green;
            }
          }
          p{
            font-weight: 400;
            font-size: 14px;
            color: $font-text-black;
            margin-top: 10px;
            margin-bottom: 26px;
          }
          a{
            padding: 8px 20px;
            border: 1px solid $black;
            border-radius: 25px;
            font-weight: 300;
            color: $black;
            text-decoration: none;
            font-size: 15px;
          }
        }
      }
      .image{
        display: flex;
        align-items: flex-end;
        img{
          width: 100%;
        }
      }
    }
    .page-mobile-content-5{
      .text-container{
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 20px;
        .text-content{
          text-align: left;
          h2{
            font-size: 40px;
            font-weight: 500;
            color: $black;
            span{
              color: $green;
            }
          }
          p{
            font-weight: 400;
            font-size: 15px;
            color: $font-text-black;
            margin-top: 10px;
            margin-bottom: 26px;
          }
          a{
            padding: 8px 20px;
            border: 1px solid $black;
            border-radius: 25px;
            font-weight: 300;
            color: $black;
            text-decoration: none;
            font-size: 15px;
          }
        }
      }
      .image{
        display: flex;
        align-items: flex-end;
        img{
          width: 100%;
        }
      }
    }
    #slideshow-wrapper{
      background-color: #161616;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
      #Slideshow{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        #Slider{
          height: 100%;
          overflow: hidden;
          width: 100%;
          border: 1px solid #161616;
          #slide{
            width: 100%;
            height: 100%;
          }
          .first-second{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .text-container{
              margin-left: 15px;
              margin-top: 50px;
              h3{
                font-size: 40px;
                font-weight: 500;
                color: white;
                span{
                  color: $green;
                }
              }
              p{
                font-weight: 400;
                font-size: 15px;
                color: $light-light-grey;
                margin-top: 10px;
                margin-bottom: 26px;
              }
            }
            .image{
              display: flex;
              align-items: flex-end;
              justify-content: center;
              img{
                width: 95%;
              }
            }
          }
          .third{
            background-image: url('Yoda/Mobile/Yoda-motor-locked-buy-mobile@2x.png');
            background-repeat: no-repeat;
            background-size: cover;
            .text-container{
              margin-left: 15px;
              margin-top: 50px;
              h3{
                font-size: 40px;
                font-weight: 500;
                color: white;
                span{
                  color: $green;
                }
              }
              p{
                font-weight: 400;
                font-size: 15px;
                color: $light-light-grey;
                margin-top: 10px;
                margin-bottom: 26px;
              }
            }
          }
        }
        #Arrows{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          position: absolute;
          width: 100%;
          i{
            color: white;
            cursor: pointer;
            height: 30px;
            padding: 20px;

            transition: background-color .5s, color .5s;
          }
        }
        #Arrows i:first-of-type{
          padding-right: 20px;
        }

        #Arrows i:last-of-type{
          padding-left: 20px;
        }

        #Arrows i:hover{
          background-color: rgba(28,29,33, .75);
          color: #EEEFF7;
        }
      }
    }
    .page-mobile-content-6{
      background-color: $light-grey;
      .featurs-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0 40px;
        .row{
          display: flex;
          align-items: flex-start;
          justify-content: center;
          .feature{
            width: 107px;
            text-align: center;
            img{
              width: 80px;
            }
            p{
              margin-top: 5px;
              font-size: 15px;
              font-weight: 300;
              text-align: center;
            }
            p.title{
              font-weight: 400;
            }
          }
        }
        .row:first-child{
          margin-bottom: 50px;
        }
      }
      .text-book{
        text-align: center;
        margin: 30px 0 40px;
        h2{
          font-size: 50px;
          font-weight: 500;
          color: $black;
          span{
            color: $green;
          }
        }
        h4{
          font-size: 33px;
          font-weight: 300;
          margin: 40px 0 25px;
        }
        p{
          font-weight: 400;
          font-size: 15px;
          color: $font-text-black;
          margin-top: 10px;
          margin-bottom: 26px;
        }
        a{
          padding: 10px 25px;
          border: 1px solid $blue;
          border-radius: 25px;
          font-weight: 400;
          background-color: $blue;
          color: white;
          text-decoration: none;
          font-size: 15px;
        }
      }
      .text-price{
        text-align: center;
        padding-bottom: 15px;
        p{
          font-size: 13px;
          font-weight: 300;
          margin-bottom: 3px;
        }
      }
    }
  }
  .footer-mobile-height{
    height: 40px;
  }
}

@media (min-width: 321px) and (max-width: 375px){ //iphone 6-7-8
  .buy-mobile-container{
    .page-mobile-container{
      .page-mobile-content-1{
        .text-container{
          margin-left: 20px;
          .text-content{
            h1{
              font-size: 52px;
            }
          }
        }
        .image{
          display: flex;
          align-items: flex-end;
          img{
            width: 100%;
          }
        }
      }
      .page-mobile-content-2{
        h2{
          font-size: 52px;
        }
        .ecomode-container{
          margin: 30px 0 10px;
          .eco{
            margin-left: 20px;
            p{
              margin-left: 20px;
            }
          }
        }
      }
      .page-mobile-content-3{
        .text-container{
          margin-left: 20px;
          .text-content{
            h2{
              font-size: 52px;
            }
            p{
              font-size: 15px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
      .page-mobile-content-4{
        .text-container{
          margin-right: 10px;
          .text-content{
            text-align: right;
            h2{
              font-size: 44px;
            }
            p{
              font-size: 15px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
      .page-mobile-content-5{
        .text-container{
          margin-left: 20px;
          .text-content{
            text-align: left;
            h2{
              font-size: 48px;
            }
            p{
              font-size: 15px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
      #slideshow-wrapper{
        #Slideshow{
          #Slider{
            #slide{
            }
            .first-second{
              .text-container{
                margin-left: 20px;
                h3{
                  font-size: 45px;
                }
                p{
                  font-size: 15px;
                }
              }
            }
            .third{
              .text-container{
                margin-left: 20px;
                h3{
                  font-size: 45px;
                }
                p{
                  font-size: 15px;
                }
              }
            }
          }
          #Arrows{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            position: absolute;
            width: 100%;
            i{
              color: white;
              cursor: pointer;
              height: 30px;
              padding: 20px;

              transition: background-color .5s, color .5s;
            }
          }
          #Arrows i:first-of-type{
            padding-right: 20px;
          }

          #Arrows i:last-of-type{
            padding-left: 20px;
          }

          #Arrows i:hover{
            background-color: rgba(28,29,33, .75);
            color: #EEEFF7;
          }
        }
      }
      .page-mobile-content-6{
        .featurs-container{
          .row{
            .feature{
              width: 115px;
            }
          }
        }
        .text-book{
          h2{
            font-size: 55px;
          }
        }
        .text-price{
          text-align: center;
          padding: 0 15px 15px 15px;
          p{
            font-size: 13px;
            font-weight: 300;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

@media (min-width: 376px) and (max-width: 414px){ //iphone 6-7-8 PLUS
  .buy-mobile-container{
    .page-mobile-container{
      .page-mobile-content-1{
        .text-container{
          margin-left: 20px;
          .text-content{
            h1{
              font-size: 60px;
            }
          }
        }
        .image{
          display: flex;
          align-items: flex-end;
          img{
            width: 100%;
          }
        }
      }
      .page-mobile-content-2{
        h2{
          font-size: 52px;
        }
        .ecomode-container{
          margin: 30px 0 10px;
          .eco{
            margin-left: 20px;
            p{
              margin-left: 20px;
            }
          }
        }
      }
      .page-mobile-content-3{
        .text-container{
          margin-left: 20px;
          .text-content{
            h2{
              font-size: 52px;
            }
            p{
              font-size: 15px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
      .page-mobile-content-4{
        .text-container{
          margin-right: 10px;
          .text-content{
            text-align: right;
            h2{
              font-size: 48px;
            }
            p{
              font-size: 15px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
      .page-mobile-content-5{
        .text-container{
          margin-left: 20px;
          .text-content{
            text-align: left;
            h2{
              font-size: 50px;
            }
            p{
              font-size: 15px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
      #slideshow-wrapper{
        #Slideshow{
          #Slider{
            #slide{
            }
            .first-second{
              .text-container{
                margin-left: 20px;
                h3{
                  font-size: 50px;
                }
                p{
                  font-size: 15px;
                }
              }
            }
            .third{
              .text-container{
                margin-left: 20px;
                h3{
                  font-size: 50px;
                }
                p{
                  font-size: 15px;
                }
              }
            }
          }
          #Arrows{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            position: absolute;
            width: 100%;
            i{
              color: white;
              cursor: pointer;
              height: 30px;
              padding: 20px;

              transition: background-color .5s, color .5s;
            }
          }
          #Arrows i:first-of-type{
            padding-right: 20px;
          }

          #Arrows i:last-of-type{
            padding-left: 20px;
          }

          #Arrows i:hover{
            background-color: rgba(28,29,33, .75);
            color: #EEEFF7;
          }
        }
      }
      .page-mobile-content-6{
        .featurs-container{
          .row{
            .feature{
              width: 115px;
            }
          }
        }
        .text-book{
          h2{
            font-size: 55px;
          }
        }
        .text-price{
          text-align: center;
          padding: 0 15px 15px 15px;
          p{
            font-size: 13px;
            font-weight: 300;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}









