.buy-wrapper-container{
  font-family: $body;
  .buy-page-container{
    .page-content-1{
      background: image-url("Yoda/Yoda-profile-left-buy-1@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 95vh;
      display: flex;
      align-items: flex-start;
      .text-container{
        margin-left: 80px;
        margin-top: 160px;
        h1{
          font-size: 75px;
          font-weight: 500;
          span{
            color: $green;
          }
        }
        p{
          font-weight: 400;
          font-size: 18px;
          color: $font-text-black;
          margin-top: 22px;
          margin-bottom: 55px;
        }
        a{
          padding: 11px 30px;
          border: 1px solid $black;
          border-radius: 25px;
          font-weight: 300;
          color: $black;
          text-decoration: none;
          font-size: 16px;
          i{
            color: $black;
          }
        }
      }
    }
    .page-content-2{
      display: flex;
      height: 100vh;
      .left-side{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 50%;
        }
      }
      .right-side{
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text-container{
          margin-left: 10%;
          h2{
            font-size: 75px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          .ecomode-container{
            display: flex;
            flex-direction: column;
            margin: 33px 0;
            .eco{
              display: flex;
              align-items: center;
              margin-bottom: 22px;
              img{
                width: 40px;
              }
              p{
                font-weight: 400;
                font-size: 18px;
                color: $font-text-black;
                margin-left: 15px;
                span{
                  font-weight: 300;
                }
              }
            }
          }
          a{//calendly pop-up
            padding: 11px 30px;
            border: 1px solid $blue;
            border-radius: 25px;
            font-weight: 300;
            color: $blue;
            text-decoration: none;
          }
        }
      }
    }
    .page-content-3{
      background: image-url("Yoda/Yoda-back-comfortable-buy-3@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      .text-container{
        margin-left: 80px;
        margin-top: 160px;
        h1{
          font-size: 75px;
          font-weight: 500;
          span{
            color: $green;
          }
        }
        p{
          font-weight: 400;
          font-size: 18px;
          color: $font-text-black;
          margin-top: 22px;
          margin-bottom: 55px;
        }
        a{
          padding: 11px 30px;
          border: 1px solid $blue;
          border-radius: 25px;
          font-weight: 300;
          color: $blue;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
    .page-content-4{
      background: image-url("Yoda/Yoda-battery-zoom-buy-4@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      .text-container{
        margin-right: 120px;
        margin-top: 100px;
        text-align: right;
        h2{
          font-size: 75px;
          font-weight: 500;
          span{
            color: $green;
          }
        }
        p{
          font-weight: 400;
          font-size: 18px;
          color: $font-text-black;
          margin-top: 22px;
          margin-bottom: 55px;
          margin-right: 8px;
        }
        a{
          padding: 11px 30px;
          border: 1px solid $black;
          border-radius: 25px;
          font-weight: 300;
          color: $black;
          text-decoration: none;
          font-size: 16px;
          margin-right: 8px;
          i{
            color: $black;
          }
        }
      }
    }
    .page-content-5{
      background: image-url("Yoda/Yoda-buy-go-distance@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .text-container{
        margin-left: 80px;
        margin-top: 100px;
        text-align: left;
        h2{
          font-size: 75px;
          font-weight: 500;
          span{
            color: $green;
          }
        }
        p{
          font-weight: 400;
          font-size: 18px;
          color: $font-text-black;
          margin-top: 22px;
          margin-bottom: 55px;
          margin-right: 8px;
        }
        a{
          padding: 11px 30px;
          border: 1px solid $black;
          border-radius: 25px;
          font-weight: 300;
          color: $black;
          text-decoration: none;
          font-size: 16px;
          margin-right: 8px;
          i{
            color: $black;
          }
        }
      }
    }
    #slideshow-wrapper{
      background-color: #161616;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      #Slideshow{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        #Slider{
          height: 100%;
          overflow: hidden;
          width: 100%;
          border: 1px solid #161616;
          #slide{
            width: 100%;
            height: 100%;
          }
          .first-second{
            display: flex;
            .left-side{
              flex-basis: 60%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .text-container{
                margin-left: 120px;
                h3{
                  font-size: 75px;
                  font-weight: 500;
                  color: white;
                  span{
                    color: $green;
                  }
                }
                p{
                  font-weight: 400;
                  font-size: 18px;
                  color: $light-light-grey;
                  margin-top: 22px;
                  margin-bottom: 55px;
                }
              }
            }
            .right-side{
              flex-basis: 40%;
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: 63%;
                margin-right: 150px;
              }
            }
          }
          .third{
            display: flex;
            align-items: center;
            background-image: url('Yoda/Yoda-back-wheel-theft-lock@2x.png');
            background-repeat: no-repeat;
            background-size: cover;
            .text-container{
              margin-left: 120px;
              h3{
                font-size: 75px;
                font-weight: 500;
                color: white;
                span{
                  color: $green;
                }
              }
              p{
                font-weight: 400;
                font-size: 18px;
                color: $light-light-grey;
                margin-top: 22px;
                margin-bottom: 55px;
              }
            }
          }
        }
        #Arrows{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 95%;
          position: absolute;
          width: 95%;
          i{
            color: white;
            cursor: pointer;
            height: 30px;
            padding: 20px;

            transition: background-color .5s, color .5s;
          }
        }
        #Arrows i:first-of-type{
          padding-right: 20px;
        }

        #Arrows i:last-of-type{
          padding-left: 20px;
        }

        #Arrows i:hover{
          background-color: rgba(28,29,33, .75);
          color: #EEEFF7;
        }
      }
    }
    .page-content-6{
      height: 100vh;
      display: flex;
      background-color: $light-grey;
      .left{
        flex-basis: 53%;
        display: flex;
        justify-content: center;
        align-items: center;
        .featurs-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .feature{
              width: 180px;
              text-align: center;
              img{
                width: 80px;
              }
              p{
                margin-top: 5px;
                font-size: 15px;
                font-weight: 300;
                text-align: center;
              }
              p.title{
                font-weight: 400;
              }
            }
          }
          .row:first-child{
            margin-bottom: 50px;
          }
          .text{
            text-align: center;
            h4{
              font-size: 36px;
              font-weight: 300;
              margin: 40px 0 30px;
            }
            p{
              font-size: 16px;
              font-weight: 300;
              margin-bottom: 3px;
            }
          }
        }
      }
      .right{
        flex-basis: 47%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-container{
          text-align: left;
          h2{
            font-size: 75px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          p{
            font-weight: 400;
            font-size: 18px;
            color: $font-text-black;
            margin-top: 22px;
            margin-bottom: 55px;
          }
          a{
            padding: 11px 30px;
            border: 1px solid $blue;
            border-radius: 25px;
            font-weight: 300;
            color: white;
            background-color: $blue;
            text-decoration: none;
            font-size: 16px;
          }
        }
      }
    }
  }
}



@media (min-width: 1450px){
  .buy-wrapper-container{
    .buy-page-container{
      .page-content-1{
        .text-container{
          margin-left: 120px;
          margin-top: 160px;
          h1{
            font-size: 85px;
          }
          p{
            font-size: 20px;
          }
          a{
            font-size: 18px;
          }
        }
      }
      .page-content-2{
        .left-side{
        }
        .right-side{
          .text-container{
            margin-left: 10%;
            h2{
              font-size: 85px;
            }
            .ecomode-container{
              margin: 35px 0;
              .eco{
                img{
                  width: 42px;
                }
                p{
                  font-size: 20px;
                }
              }
            }
            a{
              font-size: 18px;
            }
          }
        }
      }
      .page-content-3{
        .text-container{
          margin-left: 120px;
          margin-top: 160px;
          h1{
            font-size: 85px;
          }
          p{
            font-size: 20px;
          }
          a{
            font-size: 18px;
          }
        }
      }
      .page-content-4{
        .text-container{
          margin-right: 150px;
          h2{
            font-size: 85px;
          }
          p{
            font-size: 20px;
          }
          a{
            font-size: 18px;
          }
        }
      }
      .page-content-5{
        .text-container{
          margin-left: 120px;
          h2{
            font-size: 85px;
          }
          p{
            font-size: 20px;
          }
          a{
            font-size: 18px;
          }
        }
      }
      #slideshow-wrapper{
        #Slideshow{
          #Slider{
            #slide{
            }
            .first-second{
              .left-side{
                .text-container{
                  margin-left: 160px;
                  h3{
                    font-size: 85px;
                  }
                  p{
                    font-size: 20px;
                  }
                }
              }
              .right-side{
              }
            }
            .third{
              .text-container{
                margin-left: 160px;
                h3{
                  font-size: 85px;
                }
                p{
                  font-size: 20px;
                }
              }
            }
          }
          #Arrows{
            i{
              font-size: 45px;
            }
          }
        }
      }
      .page-content-6{
        .left{
          .featurs-container{
            .row{
              .feature{
                width: 200px;
                img{
                  width: 85px;
                }
              }
            }
            .row:first-child{
              margin-bottom: 50px;
            }
            .text{
              text-align: center;
              h4{
                font-size: 38px;
              }
              p{
                font-size: 16px;
              }
            }
          }
        }
        .right{
          .text-container{
            h2{
              font-size: 85px;
            }
            p{
              font-size: 20px;
            }
            a{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1670px){
  .buy-wrapper-container{
    .buy-page-container{
      .page-content-1{
        .text-container{
          margin-left: 120px;
          margin-top: 180px;
        }
      }
      .page-content-3{
        .text-container{
          margin-left: 120px;
          margin-top: 180px;
        }
      }
      .page-content-4{
        .text-container{
          margin-right: 160px;
          margin-top: 160px;
        }
      }
      .page-content-5{
        .text-container{
          margin-left: 120px;
          margin-top: 140px;
        }
      }
      #slideshow-wrapper{
        #Slideshow{
          #Slider{
            #slide{
            }
            .first-second{
              .left-side{
                .text-container{
                  margin-left: 160px;
                  h3{
                    font-size: 85px;
                  }
                  p{
                    font-size: 20px;
                  }
                }
              }
              .right-side{
                img{
                  margin-right: 40%;
                }
              }
            }
            .third{
              .text-container{
                margin-left: 160px;
                h3{
                  font-size: 85px;
                }
                p{
                  font-size: 20px;
                }
              }
            }
          }
          #Arrows{
            i{
              font-size: 45px;
            }
          }
        }
      }
    }
  }
}

