.cart-wrapper{
  font-family: $body;
  .nav-checkout-container{
    height: 15vh;
    .nav-checkout-content{
      height: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 2px 6px #A7A7A7;
      background-color: $light-black;
      a.link-back{
        text-decoration: none;
        color: white;
        font-size: 35px;
        i{
          color: white;
          font-size: 35px;
          margin-left: 100px;
        }
      }
      .bike-img{
        flex-basis: 30%;
        img{
          height: 14vh;
        }
        margin-left: 50px;
      }
      .text{
        flex-basis: 45%;
        color: white;
        i{
          color: white;
        }
        p{
          font-size: 17px;
          letter-spacing: 1px;
          font-weight: 300;
          color: #CCCBCB;
          line-height: 22px;
          span{
            color: $green;
          }
        }
        .price{
          font-size: 17px;
          line-height: 35px;
          letter-spacing: 1px;
          color: white;
          font-weight: 400;
        }
      }
      .checkout-btn{
        flex-basis: 25%;
        margin-right: 100px;
        a{
          text-decoration: none;
          padding: 16px 55px;
          border-radius: 40px;
          background-color: white;
          color: black;
          font-size: 15px;
          letter-spacing: 0.5px;
          font-weight: 500;
          &:hover{
            background-color: $green;
            color: $black;
            transition: 1s;
          }
        }
      }
    }
  }
  .main-wrapper{
    display: flex;
    .tabs-wrapper{
      flex-basis: 45%;
      padding-top: 70px;
      padding-left: 210px;
      .tabs-btn{
        button{
          background-color: transparent;
          border: none;
          color: $black;
          padding: 7px 0px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          font-weight: 500;
          margin: 0 15px;
          cursor: pointer;
          border-bottom: 3px solid transparent;
          letter-spacing: 0.6px;
        }
        button:first-child{
          margin-left: 0;
        }
        button:hover{
          border-bottom: 3px solid $black;
        }
        button:focus{
          border-bottom: 3px solid $black;
          outline: none;
        }
      }
      .check-tab{
        margin-top: 30px;
        padding: 20px;
        border: 1px solid #C1C1C1;
        border-radius: 2px;
        h2{
          margin: 10px 0 0 15px;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0.6px;
        }
        p{
          margin-left: 15px;
          font-size: 19px;
          font-weight: 300;
          color: $light-black;
          margin-top: 25px;
        }
        h3{
          font-weight: 500;
          font-size: 20px;
          margin: 50px 0 30px 18px;
          color: #008861;

        }
        .faq-question{
          h5{
            margin-top: 25px;
            font-size: 19px;
            font-weight: 400;
            margin-left: 18px;
            margin-bottom: -13px;
          }
          p{
            font-size: 17px;
            font-weight: 300;
            color: $light-black;
            margin-top: 25px;
          }
          ul{
            list-style-type: square;
                h2{

                }     margin: 23px 0 0 45px;
            li{
              font-size: 17px;
              font-weight: 300;
              color: $light-black;
            }
          }
          .img-bike-lanes-container{
            text-align: center;
            margin: 15px 0;
            img.bike-lanes{
              width: 90px;
            }
          }
        }
        .img-container{
          text-align: center;
          margin-top: 50px;
          img{
            width: 100%;
          }
        }
      }
    }
    .referal-wrapper{
      flex-basis: 42%;
      padding-top: 170px;
      display: flex;
      justify-content: center;
      .refer-friends{
        position: fixed;
        .text-part{
          text-align: center;
          h2{
            margin-bottom:23px;
            padding:0;
            font-weight: 500;
            font-size: 45px;
            text-align: center;
            letter-spacing: 2px;
          }
          h3{
            margin:0;
            padding:0;
            font-weight: 500;
            font-size: 20px;
            color: $dark-grey;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            letter-spacing: 2px;
            span{
              color: $green;
            }
          }
          .social-links{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            a{
              font-size: 40px;
            }
            a:last-child{
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
}
















