.main-mobile-container{
  font-family: $body;
  .page-mobile-container{
    .page-1-mobile-content{
      display: flex;
      flex-direction: column;
      position: relative;
      img{
        margin-top: 300px;
        width: 100%;
      }
      .text-container{
        position: absolute;
        bottom: 120px;
        left: 40px;
        .text-content{
          h1{
            font-size: 100px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          h2{
            font-size: 45px;
            font-weight: 300;
            color: $light-black;
            margin-top: 40px;
          }
        }
      }
    }
  }
  .media-mobile-container{
    height: 350px;
    background-color: $green;
    .media-mobile-content{
      height: 100%;
      .logo-mobile-media{
        margin:0 15px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .bruzz{
          width: 200px;
        }
        .hln{
          width: 130px;
        }
        .newmobility{
          width: 290px;
        }
        .dh{
          width: 200px;
        }
      }
    }
  }
  .page-2-mobile-content{
    display: flex;
    flex-direction: column;
    .text-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .text-content{
        margin: 130px 40px 0 40px;
        width: 100%;
        h3{
          font-size: 90px;
          font-weight: 500;
          span{
            color: $green;
          }
        }
        p{
          font-size: 45px;
          font-weight: 300;
          color: $light-black;
          margin-top: 20px;
        }
      }
    }
    img.front-fork-yoda{
      width: 100%;
    }
  }
  .page-3-mobile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $black;
    .text-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .text-content{
        margin: 130px 40px 0 40px;
        width: 100%;
        h3{
          font-size: 100px;
          font-weight: 500;
          color: white;
          span{
            color: $green;
          }
        }
        p{
          font-size: 45px;
          font-weight: 300;
          color: white;
          margin-top: 30px;
        }
      }
    }
    img.handle-smartphone-yoda{
      width: 100%;
    }
  }
  .page-4-mobile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: $light-light-grey;
    .text-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .text-content{
        margin: 130px 40px 0 40px;
        width: 100%;
        h3{
          font-size: 100px;
          font-weight: 500;
          color: $black;
          span{
            color: $green;
          }
        }
        p{
          font-size: 45px;
          font-weight: 300;
          color: $black;
          margin-top: 30px;
        }
      }
    }
    img.smartphone-yoda{
      width: 100%;
    }
  }
  .page-review-mobile-content{
    .review-content-top{
      margin: 130px 40px 0 40px;
      h3{
        font-size: 70px;
        font-weight: 500;
        span{
          color: $green;
        }
      }
      p{
        font-size: 45px;
        font-weight: 400;
        color: $black;
        margin: 20px 0;
      }
      #community{
        font-weight: 300;
        color: $light-black;
      }
    }
    .cards-wrapper{
      margin: 130px 0 ;
      // c'est 3 lignes serve a faire le scroll vertical
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      .card{
        flex: 0 0 auto; // cette ligne sert a faire le scroll vertical
        width: 700px;
        height: 480px;
        background-color: white;

        padding: 35px;
        margin: 10px 0 10px 40px;
        border: 1px solid #E6E5E5;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(30, 30, 30, 0.2);
        .card-info {
          p.name{
            font-weight: 500;
            font-size: 60px;
            color: $black;
          }
          p.location{
            color: #767373;
            font-weight: 300;
            font-size: 40px;
          }
        }
        .comment{
          margin-top: 85px;
          font-size: 45px;
          font-weight: 300;
          color: $light-black;
        }
      }
    }
  }
}

.footer-mobile-height{
  height: 160px;
}
























