.navbar-height{
  height: 5vh;
}
.main-container{
  font-family: $body;
  .page-container{
    height: 95vh;
    .page-1-content{
      background: image-url("Yoda/Yoda-main-side-front@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 100%;
      align-items: flex-end;
      .text-container{
        margin-left: 120px;
        margin-bottom: 50px;
        .text-content{
          h1{
            font-size: 62px;
            font-weight: 500;
            line-height: 60px;
            span{
              color: $green;
            }
          }
          .text{
            display: flex;
            align-items: flex-end;
            margin-top: 20px;
            h2{
              font-size: 26px;
              font-weight: 300;
              color: $light-black;
            }
            a{
              text-decoration: none;
              margin-left: 35px;
              color: $green;
              display: flex;
              align-items: center;
              p{
                margin: 0;
                font-size: 23px;
                font-weight: 500;
              }
              i{
                margin-left: 15px;
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
  .media-container{
    height: 38vh;
    background-color: $green;
    .media-content{
      height: 100%;
      .logo-media{
        margin:0 45px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .bruzz{
          width: 250px;
        }
        .hln{
          width: 180px;
        }
        .newmobility{
          width: 330px;
        }
        .dh{
          width: 250px;
        }
      }
    }
  }
  .page-2-content{
    display: flex;
    height: 100%;
    .left-container{
      flex-basis: 50%;
      background-color: white;
      .text-container{
        margin-left: 120px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text-content{
          h3{
            font-size: 80px;
            font-weight: 500;
            line-height: 90px;
            span{
              color: $green;
            }
          }
          p{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 50px;
          }
          a{
            text-decoration: none;
            margin-top: 60px;
            color: $green;
            display: flex;
            align-items: center;
            p{
              margin: 0;
              color: $green;
              font-size: 23px;
              font-weight: 500;
            }
            i{
              margin-left: 15px;
              font-size: 23px;
            }
          }
        }
      }
    }
    .right-container{
      flex-basis: 50%;
      background-color: $black;
      height: 100%;
      .right-content{
        height: 100%;
        background: image-url("Yoda/Zoom-front-wheel@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
  .page-3-content{
    display: flex;
    height: 100%;
    .left-container{
      flex-basis: 50%;
      height: 100%;
      background-color: $black;
      .left-content{
        height: 100%;
        background: image-url("Yoda/Handle-with-smartphone@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    .right-container{
      flex-basis: 50%;
      .text-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content{
          h3{
            font-size: 80px;
            font-weight: 500;
            line-height: 90px;
            span{
              color: $green;
            }
          }
          p{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 50px;
          }
          a{
            text-decoration: none;
            margin-top: 60px;
            color: $green;
            display: flex;
            align-items: center;
            p{
              margin: 0;
              color: $green;
              font-size: 23px;
              font-weight: 500;
            }
            i{
              margin-left: 15px;
              font-size: 23px;
            }
          }
        }
      }
    }
  }
  .page-4-content{
    display: flex;
    height: 100%;
    .left-container{
      flex-basis: 50%;
      background-color: white;
      .text-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content{
          h3{
            font-size: 80px;
            font-weight: 500;
            line-height: 90px;
            span{
              color: $green;
            }
          }
          p{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 50px;
          }
          a{
            text-decoration: none;
            margin-top: 60px;
            color: $green;
            display: flex;
            align-items: center;
            p{
              margin: 0;
              color: $green;
              font-size: 23px;
              font-weight: 500;
            }
            i{
              margin-left: 15px;
              font-size: 23px;
            }
          }
        }
      }
    }
    .right-container{
      flex-basis: 50%;
      height: 100%;
      background: image-url("App/Notification@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .review-main-container{
    height: 100%;
    background-color: $light-light-grey;
    .review-main-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 120px;
      .review-main-content-top{
        flex-basis: 25%;
        margin-top: 80px;
        h3{
          font-size: 40px;
          font-weight: 500;
          line-height: 90px;
          span{
            color: $green;
          }
        }
        p{
          font-size: 23px;
          font-weight: 400;
          color: $black;
          margin: 20px 0;
        }
        #community{
          font-weight: 300;
          color: $light-black;
        }
      }
      .review-main-content-middle{
        flex-basis: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cards-container{
          width: 100%;
          // c'est 3 lignes serve a faire le scroll vertical
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          .card{
            flex: 0 0 auto;// cette ligne sert a faire le scroll vertical
            margin-right: 20px;
            width: 280px;
            height: 175px;
            background-color: white;
            box-shadow: 0 0 3px $light-grey;
            border: 1px solid $light-grey;
            border-radius: 2px;
            padding: 35px;
            .card-nav-info {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              p.name{
                font-weight: 500;
                font-size: 28px;
                color: $black;
              }
              p.location{
                margin-top: 7px;
                color: #767373;
                font-weight: 400;
                font-size: 17px;
              }
              .rating{
                margin-top: 10px;
                i.green{
                  color: $green;
                }
                i.grey{
                  color: #DBDBDB;
                }
              }
            }
            .comment{
              margin-top: 35px;
              font-size: 15;
              font-weight: 300;
              color: #767373;
            }
          }
        }
      }
      .review-content-footer{
        flex-basis: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .circle{
          i{
            margin-left: 10px;
            font-size: 11px;
            color: grey;
            margin-bottom: 40px;
          }
        }
        a{
          text-decoration: none;
          color: $green;
          display: flex;
          align-items: center;
          margin-right: 120px;
          margin-bottom: 40px;
          p{
            margin: 0;
            color: $green;
            font-size: 23px;
            font-weight: 500;
          }
          i{
            margin-left: 15px;
            font-size: 23px;
          }
        }
      }
    }
  }
}


@media (max-width: 1450px) {
  .main-container{
    .page-container{
      .page-1-content{
        background-position: left;
        .text-container{
          margin-bottom: 40px;
          .text-content{
            h1{
              font-size: 55px;
            }
            .text{
              margin-top: 15px;
              h2{
                font-size: 23px;
              }
              a{
                p{
                  font-size: 21px;
                }
                i{
                  margin-left: 13px;
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
      .page-2-content{
        .left-container{
          .text-container{
            .text-content{
              h3{
                font-size: 65px;
                line-height: 80px;
              }
              p{
                font-size: 23px;
                margin-top: 30px;
              }
              a{
                margin-top: 45px;
                p{
                  font-size: 21px;
                  margin: 0;
                }
                i{
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
      .page-3-content{
        .right-container{
          .text-container{
            .text-content{
              h3{
                font-size: 65px;
                line-height: 80px;
              }
              p{
                font-size: 23px;
                margin-top: 30px;
              }
              a{
                margin-top: 45px;
                p{
                  font-size: 21px;
                  margin: 0;
                }
                i{
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
      .page-4-content{
        .left-container{
          .text-container{
            .text-content{
              h3{
                font-size: 65px;
                line-height: 80px;
              }
              p{
                font-size: 23px;
                margin-top: 30px;
              }
              a{
                margin-top: 45px;
                p{
                  font-size: 21px;
                  margin: 0;
                }
                i{
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
      .review-main-container{
        .review-main-content{
          .review-main-content-top{
            flex-basis: 25%;
            margin-top: 50px;
            h3{
              font-size: 37px;
            }
            p{
              font-size: 21px;
              margin: 10px 0;
            }
          }
          .review-main-content-middle{
            margin: 50px 0;
          }
          .review-content-footer{
            margin-bottom: 50px;
            a{
              margin-right: 120px;

              p{
                margin: 0;
                font-size: 21px;
              }
              i{
                font-size: 21px;
              }
            }
          }
        }
      }
    }
    .media-container{
    .media-content{
      .logo-media{
        .bruzz{
          width: 200px;
        }
        .hln{
          width: 130px;
        }
        .newmobility{
          width: 280px;
        }
        .dh{
          width: 200px;
        }
      }
    }
  }
  }
}
















