.navbar-height{
  height: 5vh;
}
.main-container{
  font-family: $body;
  .page-container{
    height: 95vh;
    .page-1-content{
      background: image-url("Yoda/Yoda-main@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 100%;
      align-items: flex-end;
      .text-container{
        margin-left: 120px;
        margin-bottom: 70px;
        .text-content{
          h1{
            font-size: 80px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          h2{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .media-container{
    height: 38vh;
    background-color: $green;
    .media-content{
      height: 100%;
      .logo-media{
        margin:0 45px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .bruzz{
          width: 250px;
        }
        .hln{
          width: 180px;
        }
        .newmobility{
          width: 330px;
        }
        .dh{
          width: 250px;
        }
      }
    }
  }
  .page-2-content{
    display: flex;
    height: 100%;
    .left-container{
      flex-basis: 50%;
      background-color: white;
      .text-container{
        margin-left: 120px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text-content{
          h3{
            font-size: 80px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          p{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 20px;
          }
        }
      }
    }
    .right-container{
      flex-basis: 50%;
      background-color: $light-grey;
      .right-content{
        height: 100%;
        display: flex;
        align-items: flex-end;
        img{
          width: 100%;
        }
      }
    }
  }
  .page-3-content{
    display: flex;
    height: 100%;
    .left-container{
      flex-basis: 50%;
      background-color: $black;
      .left-content{
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        img{
          width: 100%;
        }
      }
    }
    .right-container{
      flex-basis: 50%;
      .text-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content{
          h3{
            font-size: 80px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          p{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .page-4-content{
    display: flex;
    height: 100%;
    .left-container{
      flex-basis: 50%;
      background-color: white;
      .text-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content{
          h3{
            font-size: 80px;
            font-weight: 500;
            span{
              color: $green;
            }
          }
          p{
            font-size: 26px;
            font-weight: 300;
            color: $light-black;
            margin-top: 22px;
          }
        }
      }
    }
    .right-container{
      flex-basis: 50%;
      .right-content{
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        img{
          width: 100%;
        }
      }
    }
  }

  .review-container{
    height: 100%;
    background-color: $light-light-grey;
    .review-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 120px;
      .review-content-top{
        flex-basis: 25%;
        margin-top: 80px;
        h3{
          font-size: 40px;
          font-weight: 500;
          span{
            color: $green;
          }
        }
        p{
          font-size: 23px;
          font-weight: 400;
          color: $black;
          margin: 20px 0;
        }
        #community{
          font-weight: 300;
          color: $light-black;
        }
      }
      .review-content-middle{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cards-container{
          width: 100%;
          // c'est 3 lignes serve a faire le scroll vertical
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          .card{
            flex: 0 0 auto;// cette ligne sert a faire le scroll vertical
            margin-right: 20px;
            width: 280px;
            height: 175px;
            background-color: white;
            box-shadow: 0 0 3px $light-grey;
            border: 1px solid $light-grey;
            border-radius: 2px;
            padding: 35px;
            .card-info {
              p.name{
                font-weight: 500;
                font-size: 28px;
                color: $black;
              }
              p.location{
                color: #767373;
                font-weight: 400;
                font-size: 17px;
              }
            }
            .comment{
              margin-top: 35px;
              font-size: 15;
              font-weight: 300;
              color: #767373;
            }
          }
        }
      }
      .review-content-footer{
        flex-basis: 25%;
        i{
          margin-left: 10px;
          font-size: 11px;
          color: grey;
        }
      }
    }
  }
}


















































































