.navbar-height{
  height: 5vh;
}
.main-container{
  font-family: $body;
  .page-container{
    height: 95vh;
    .page-1-content{
      background: image-url("Yoda/Yoda-main-side-2-front@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 100%;
      align-items: flex-end;
      .text-container{
        margin-left: 120px;
        margin-bottom: 50px;
        #countdown{
          position: absolute;
          left: 120px;
          top: 160px;
          display: flex;
          .card-countdown{
            width: 60px;
            height: 85px;
            background-color: white;
            position: relative;
            text-align: center;
            p{
              font-size: 33px;
              margin:  0;
              font-weight: 700;
            }
            p#seconds{
              color: $black;
            }
            p.data{
              font-size: 13px;
              font-weight: 700;
              color: $green;
            }
          }
          p.semicolon{
            font-size: 33px;
            margin: 0 4px;
            margin-bottom: 8px;
            color: $black;
            font-weight: 700;
          }
        }
        .fixed-goal{
          position: absolute;
          left: 130px;
          top: 230px;
          p{
            font-size: 17px;
            font-weight: 500;
          }
        }
        .price-reduction{
          position: absolute;
          left: 130px;
          top: 290px;
          p#full-price{
            font-size: 19px;
            font-weight: 500;
            text-decoration: line-through;
            text-decoration-color: red;
          }
          p#pre-order-price{
            font-size: 25px;
            font-weight: 600;
            color: red;
          }
        }
        .text-content{
          h1{
            font-size: 60px;
            font-weight: 900;
            color: white;
            text-transform: uppercase;
            padding-right: 7px;
            line-height: 70px;
            span{
              padding: 0 18px;
              background-color: $green;
            }
            span.black{
              color: white;
            }
          }
          .text{
            display: flex;
            align-items: flex-end;
            margin-top: 20px;
            h2{
              font-size: 26px;
              font-weight: 500;
              color: $light-black;
            }
            a{
              text-decoration: none;
              margin-left: 35px;
              color: $black;
              display: flex;
              align-items: center;
              p{
                margin-top: 35px;
                font-size: 23px;
                font-weight: 700;
              }
              i{
                margin-top: 33px;
                margin-left: 15px;
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
  .media-container{
    height: 38vh;
    background-color: $black;
    .media-content{
      height: 100%;
      .logo-media{
        margin:0 45px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .bruzz{
          width: 250px;
        }
        .hln{
          width: 180px;
        }
        .newmobility{
          width: 330px;
        }
        .dh{
          width: 250px;
        }
      }
    }
  }
  .page-2-content{
    display: flex;
    height: 100%;
    background: image-url("Yoda/Zoom-front-wheel-2@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .text-container{
      margin-left: 120px;
      height: 100%;
      margin-top: 9%;
      .text-content{
        h3{
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 70px;
          color: white;
          span{
            padding: 0 18px;
            background-color: $green;
          }
        }
        p{
          font-size: 26px;
          font-weight: 500;
          color: $light-black;
          margin-top: 70px;
        }
        a{
          text-decoration: none;
          margin-top: 50px;
          color: $black;
          display: flex;
          align-items: center;
          p{
            margin: 0;
            color: $black;
            font-size: 23px;
            font-weight: 700;
          }
          i{
            margin-top: 1px;
            margin-left: 15px;
            font-size: 23px;
          }
        }
      }
    }
  }
  .page-3-content{
    display: flex;
    height: 100%;
    background: image-url("Yoda/Handle-with-smartphone-2@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    .text-container{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 120px;
      margin-top: 9%;
      .text-content{
        h3{
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 70px;
          color: white;
          text-align: right;
          span{
            padding: 0 18px;
            background-color: $green;
          }
        }
        p{
          font-size: 26px;
          font-weight: 500;
          color: $light-black;
          margin-top: 250px;
        }
        a{
          text-decoration: none;
          margin-top: 60px;
          color: $black;
          display: flex;
          align-items: center;
          p{
            margin: 0;
            color: $black;
            font-size: 23px;
            font-weight: 700;
          }
          i{
            margin-top: 1px;
            margin-left: 15px;
            font-size: 23px;
          }
        }
      }
    }
  }
  .page-4-content{
    display: flex;
    height: 100%;
    background: image-url("App/Notification@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .text-container{
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-left: 120px;
      margin-top: 9%;
      .text-content{
        h3{
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 70px;
          color: white;
          text-align: left;
          span{
            padding: 0 18px;
            background-color: $green;
          }
        }
        p{
          font-size: 26px;
          font-weight: 500;
          color: $light-black;
          margin-top: 70px;
        }
        a{
          text-decoration: none;
          margin-top: 50px;
          color: $black;
          display: flex;
          align-items: center;
          p{
            margin: 0;
            font-size: 23px;
            font-weight: 700;
          }
          i{
            margin-top: 1px;
            margin-left: 15px;
            font-size: 23px;
          }
        }
      }
    }
  }

  .review-main-container{
    height: 100%;
    background-color: $light-light-grey;
    .review-main-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 120px;
      .review-main-content-top{
        flex-basis: 25%;
        margin-top: 80px;
        h3{
          font-size: 45px;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 60px;
          color: white;
          text-align: left;
          span{
            padding: 0 18px;
            background-color: $green;
          }
        }
        p{
          font-size: 23px;
          font-weight: 700;
          color: $black;
          margin: 20px 0;
        }
        #community{
          font-weight: 500;
          color: $light-black;
        }
      }
      .review-main-content-middle{
        flex-basis: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cards-container{
          width: 100%;
          // c'est 3 lignes serve a faire le scroll vertical
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          .card{
            flex: 0 0 auto;// cette ligne sert a faire le scroll vertical
            margin-right: 20px;
            width: 280px;
            height: 175px;
            background-color: white;
            box-shadow: 0 0 3px $light-grey;
            border: 1px solid $light-grey;
            border-radius: 2px;
            padding: 35px;
            .card-nav-info {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              p.name{
                font-weight: 600;
                font-size: 28px;
                color: $black;
              }
              p.location{
                margin-top: 7px;
                color: #767373;
                font-weight: 500;
                font-size: 17px;
              }
              .rating{
                margin-top: 10px;
                i.green{
                  color: $green;
                }
                i.grey{
                  color: #DBDBDB;
                }
              }
            }
            .comment{
              margin-top: 35px;
              font-size: 15;
              font-weight: 300;
              color: #767373;
            }
          }
        }
      }
      .review-content-footer{
        flex-basis: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .circle{
          i{
            margin-left: 10px;
            font-size: 11px;
            color: grey;
            margin-bottom: 40px;
          }
        }
        a{
          text-decoration: none;
          color: $black;
          display: flex;
          align-items: center;
          margin-right: 120px;
          margin-bottom: 40px;
          p{
            margin: 0;
            color: $black;
            font-size: 23px;
            font-weight: 700;
          }
          i{
            margin-left: 15px;
            font-size: 23px;
          }
        }
      }
    }
  }
}


@media (max-width: 1450px) {
  .main-container{
    .page-container{
      .page-1-content{
        background: image-url("Yoda/Yoda-main-side-front2@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .text-container{
          margin-bottom: 40px;
          #countdown{
            position: absolute;
            left: 120px;
            top: 110px;
            display: flex;
            .card-countdown{
              p{
                font-size: 30px;
              }
              p#seconds{
                color: $black;
              }
              p.data{
                font-size: 12px;
              }
            }
            p.semicolon{
              font-size: 30px;
            }
          }
          .fixed-goal{
            position: absolute;
            left: 130px;
            top: 180px;
          }
          .price-reduction{
            top: 240px;
            p#full-price{
              font-size: 18px;
            }
            p#pre-order-price{
              font-size: 24px;
            }
          }
          .text-content{
            h1{
              font-size: 48px;
              line-height: 65px;
            }
            .text{
              margin-top: 15px;
              h2{
                font-size: 21px;
              }
              a{
                p{
                  font-size: 21px;
                  margin-top: 15px;
                }
                i{
                  margin-top: 15px;
                  margin-left: 13px;
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
      .page-2-content{
        .text-container{
          .text-content{
            h3{
              font-size: 48px;
              line-height: 62px;
            }
            p{
              font-size: 21px;
              margin-top: 50px;
            }
            a{
              margin-top: 40px;
              p{
                font-size: 21px;
                margin: 0;
              }
              i{
                font-size: 21px;
              }
            }
          }
        }
      }
      .page-3-content{
        .text-container{
          margin-top: 9%;
          .text-content{
            h3{
              font-size: 48px;
              line-height: 62px;
              text-align: left;
            }
            p{
              font-size: 21px;
              margin-top: 180px;
            }
            a{
              margin-top: 40px;
              p{
                font-size: 21px;
                margin: 0;
              }
              i{
                font-size: 21px;
              }
            }
          }
        }
      }
      .page-4-content{
        .text-container{
          .text-content{
            h3{
              font-size: 48px;
              line-height: 62px;
            }
            p{
              font-size: 21px;
              margin-top: 50px;
            }
            a{
              margin-top: 40px;
              p{
                font-size: 21px;
                margin: 0;
              }
              i{
                font-size: 21px;
              }
            }
          }
        }
      }
      .review-main-container{
        .review-main-content{
          .review-main-content-top{
            flex-basis: 25%;
            margin-top: 50px;
            h3{
              font-size: 33px;
              line-height: 42px;
            }
            p{
              font-size: 20px;
              margin: 50px 0 10px;
            }
          }
          .review-main-content-middle{
            margin: 50px 0;
          }
          .review-content-footer{
            margin-bottom: 50px;
            a{
              margin-right: 120px;

              p{
                margin: 0;
                font-size: 21px;
              }
              i{
                font-size: 21px;
              }
            }
          }
        }
      }
    }
    .media-container{
    .media-content{
      .logo-media{
        .bruzz{
          width: 200px;
        }
        .hln{
          width: 130px;
        }
        .newmobility{
          width: 280px;
        }
        .dh{
          width: 200px;
        }
      }
    }
  }
  }
}

@media (max-width: 1300px) {
  .main-container{
    .page-container{
      .page-3-content{
        .text-container{
          margin-top: 8%;
          .text-content{
            h3{
              font-size: 48px;
              line-height: 62px;
              text-align: left;
            }
            p{
              font-size: 21px;
              margin-top: 165px;
            }
            a{
              margin-top: 40px;
              p{
                font-size: 21px;
                margin: 0;
              }
              i{
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
















