.support-main-container{
  font-family: $body;
  .page-1-support-container{
    height: 100vh;
    background: image-url("Yoda/Yoda-service-support@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    .text-content{
      color: $black;
      margin-left: 120px;
      margin-bottom: 160px;
      h1{
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 70px;
        color: white;
        span{
          padding: 0 18px;
          background-color: $green;
        }
      }
      p{
        font-size: 26px;
        font-weight: 500;
        margin-top: 40px;
      }
    }
  }
  .page-2-support-container{
    height: 100vh;
    display: flex;
    .left-container{
      height: 100%;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      .text-content{
        color: $black;
        margin-left: 120px;
        margin-bottom: 30px;
        h2{
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 70px;
          color: white;
          span{
            padding: 0 18px;
            background-color: $green;
          }
        }
        p{
          font-size: 26px;
          font-weight: 500;
          margin-top: 40px;
        }
        p.title{
          font-size: 26px;
          font-weight: 700;
          margin-bottom: 40px;
        }
      }
    }
    .black-bg{
      background-color: white;
    }
    .right-container{
      flex-basis: 50%;
      height: 100%;
      background: image-url("App/Iphone-notif-tire-pressure@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .page-3-support-container{
    height: 100vh;
    display: flex;
    .left-container{
      height: 100%;
      flex-basis: 50%;
      background: image-url("App/Iphone_X-support-update@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .right-container{
      height: 100%;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      .text-content{
        color: $black;
        margin-left: 120px;
        margin-bottom: 30px;
        h2{
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 70px;
          color: white;
          span{
            padding: 0 18px;
            background-color: $green;
          }
        }
        p{
          font-size: 26px;
          font-weight: 500;
          margin-top: 40px;
        }
        p.title{
          font-size: 26px;
          font-weight: 700;
          margin-bottom: 40px;
        }
      }
    }
  }
}



@media (max-width: 1450px) {
  .support-main-container{
  .page-1-support-container{
    .text-content{
      color: $black;
      margin-left: 120px;
      margin-bottom: 125px;
      h1{
        font-size: 50px;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .page-2-support-container{
    .left-container{
      .text-content{
        h2{
          font-size: 50px;
        }
        p{
          font-size: 20px;
        }
        p.title{
          font-size: 20px;
        }
      }
    }
    .black-bg{
      background-color: $bike-black;
    }
  }
  .page-3-support-container{
    .right-container{
      .text-content{
        h2{
          font-size: 50px;
        }
        p{
          font-size: 20px;
        }
        p.title{
          font-size: 20px;
        }
      }
    }
  }
}
}

























