.support-main-mobile-container{
  font-family: $body;
  width: 100vw;
  .page-support-mobile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .text-content{
      padding-top: 33%;
      padding-left: 15px;
      padding-bottom: 10%;
      padding-right: 20px;
      h1{
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 15px;
        span{
          color: $green;
        }
      }
      p{
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
      }
      p.title{
        font-weight: 700;
        margin-bottom: 16px;
      }
    }
    .text-shadow-bg{
      background: image-url("Yoda/Yoda-service-support-mobile-shadow-top@2x");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .padding-page{
      padding-top: 8%;
    }
    img{
      width: 100%;
    }
  }
}
