.support-main-mobile-container{
  font-family: $body;
  width: 100vw;
  .page-support-mobile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .text-content{
      padding-top: 33%;
      padding-left: 40px;
      padding-bottom: 10%;
      h1{
        font-size: 110px;
        font-weight: 500;
        margin-bottom: 60px;
        span{
          color: $green;
        }
      }
      p{
        font-size: 45px;
        font-weight: 300;
        margin-top: 40px;
      }
      p.title{
        font-weight: 400;
        margin-bottom: 50px;
      }
    }
    .text-shadow-bg{
      background: image-url("Yoda/Yoda-service-support-mobile-shadow-top@2x");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .padding-page{
      padding-top: 8%;
    }
    img{
      width: 100%;
    }
  }
}
