<div class="newsletter-mobile-container">
  <%= link_to root_path do %>
    <i class="far fa-times-circle"></i>
  <% end %>
  <div class="newsletter-mobile-content">
    <p>Our website is not finished yet, we know you're impatient to try our Yoda. Come back in a few days and we'll be happy to schedule a moment with you.</p>
    <br>
    <br>
    <br>
    <p>It would be a pleasure for us to inform you when the test phase is ready.</p>
    <br>
    <br>
    <div class="signup-news">
      <p>SIGN UP TO OUR NEWSLETTER</p>
      <br>
      <%= render "shared/signup-form" %>
    </div>
  </div>
</div>

