<div class="newsletter-mobile-container">
  <%= link_to root_path do %>
    <i class="far fa-times-circle"></i>
  <% end %>
  <div class="newsletter-mobile-content">
    <p>Pre-orders will open shortly. Come back in a few days.</p>
    <br>
    <br>
    <p>Be the first to know when pre-orders begin :-)</p>
    <br>
    <br>
    <div class="signup-news">
      <p>SIGN UP TO OUR NEWSLETTER</p>
      <br>
      <%= render "shared/signup-form" %>
    </div>
  </div>
</div>
