<div class="newsletter-container">
  <div class="newsletter-content">
    <p>Our website is not finished yet, the purchase feature is currently in development.</p>
    <p>Come back in a few days and we will be happy to take your pre-order.</p>
    <br>
    <br>
    <p>Be the first to know when the pre-order is ready to begin :-)</p>
    <br>
    <p>SIGN UP TO OUR NEWSLETTER</p>
    <%= render "shared/signup-form" %>
  </div>
</div>
