<div class="newsletter-mobile-container">
  <%= link_to root_path do %>
    <i class="far fa-times-circle"></i>
  <% end %>
  <div class="newsletter-mobile-content">
    <p>We know you're impatient to try the Yoda.</p>
    <p>Come back in a few days and we'll be happy to schedule a moment with you.</p>
    <br>
    <br>
    <br>
    <p>We can let you know when testing is available.</p>
    <br>
    <br>
    <div class="signup-news">
      <p>SIGN UP TO OUR NEWSLETTER</p>
      <br>
      <%= render "shared/signup-form" %>
    </div>
  </div>
</div>

