<div class="newsletter-container">
  <div class="newsletter-content">
    <p>Our website is not finished yet, we know you're impatient to try our Yoda .</p>
    <p>Come back in a few days and we will be happy to schedule a moment with you.</p>
    <br>
    <br>
    <p>It would be a pleasure for us to inform you when the test phase is ready.</p>
    <br>
    <p>SIGN UP TO OUR NEWSLETTER</p>
    <%= render "shared/signup-form" %>
  </div>
</div>
