<div class="footer-container">
  <div class="footer-content">
    <div class="top">
      <div class="brand">
        <%= link_to root_path do %>
          <%= image_tag('Logo/Logo-white.png', class: 'logo-image') %>
        <% end %>
      </div>
    </div>
    <div class="menu">
      <a href="#">TERMS OF USE</a>
      <a href="#">PRIVACY POLICY</a>
      <p>© 2019 YODACITY</p>
    </div>
  </div>
</div>
