<nav class="nav-container">
  <div class="nav-content">
    <div class="nav-logo">
      <%= image_tag('Logo/Logo.png', class: "logo-nav") %>
    </div>
    <div class="menu-container">
      <div class="menu-content">
        <ul>
          <!-- <li>MOTORBIKE</li>
          <li>APP</li>
          <li>SUPPORT</li>
          <li>REVIEW</li> -->
        </ul>
      </div>
    </div>
    <div class="btn-container">
      <div class="btn-content">
        <%= link_to newsletter_test_path do %>
          <div class="nav-btn test-ride">
            <p>TEST RIDE</p>
          </div>
        <% end %>
        <%= link_to newsletter_buy_path do %>
          <div class="nav-btn buy">
            <p>BUY</p>
          </div>
        <% end %>
      </div>
  </div>
</nav>
