<nav class="nav-mobile-container">
  <div class="nav-mobile-content">
    <div class="nav-mobile-logo">
      <%= image_tag('Logo/Logo@2x.png', class: "logo-nav") %>
    </div>
    <div class="menu-mobile-container">
      <div class="menu-mobile-content">
        <ul>
          <!-- <li>MOTORBIKE</li>
          <li>APP</li>
          <li>SUPPORT</li>
          <li>REVIEW</li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="nav-footer-container">
  <div class="btn-mobile-content">
    <%= link_to newsletter_test_path do %>
      <div class="nav-mobile-btn test-ride">
        <p>TEST RIDE</p>
      </div>
    <% end %>
    <%= link_to newsletter_buy_path do %>
      <div class="nav-mobile-btn buy">
        <p>BUY</p>
      </div>
    <% end %>
  </div>
</div>
