<nav class="nav-container">
  <div class="nav-content">
    <div class="nav-logo">
      <%= image_tag('Logo/Logo.png', class: "logo-nav") %>
    </div>
    <div class="menu-container">
      <div class="menu-content">
        <ul>
          <!-- <li>MOTORBIKE</li>
          <li>APP</li>
          <li>SUPPORT</li>
          <li>REVIEW</li> -->
        </ul>
      </div>
    </div>
    <div class="btn-container">
      <div class="btn-content">
        <div class="nav-btn test-ride">
          <p>TEST RIDE</p>
        </div>
        <div class="nav-btn buy">
          <p>BUY</p>
        </div>
      </div>
  </div>
</nav>
