<%= form_for @user, url: users_create_path, method: :post do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email" %>
  <%= f.submit value: "Submit" %>
  <!-- <button type="submit" class="btn-newletter">
      <i class="fas fa-long-arrow-right"></i>
  </button> -->
<% end %>
