<%= render "shared/navbar" %>

<div class="app-page-wrapper">
  <div class="page-app-container">
    <div class="text-container">
      <div class="text-content">
        <h1>Be in <span>control</span>.</h1>
        <p>Live dashboard, navigation, GPS<br>tracking, ride stats, battery level and more.</p>
      </div>
      <div class="app-download-btn">
        <%= image_tag('App/download-app-btn@2x.png', class: "download-app-btn") %>
      </div>
    </div>
    <div class="iphone-mockup">
      <%= image_tag('App/Iphone_X_home-page@2x.png', class: "app-home-page") %>
    </div>
  </div>
</div>
