<%= render "shared/navbar" %>

<div class="app-page-wrapper">
  <div class="page-container">
    <div class="text-container">
      <div class="text-content">
        <h1>Be in <span>control</span>.</h1>
        <h3>Live dashboard, navigation, GPS<br>tracking, ride stats, battery level and more.</h3>
      </div>
    </div>
    <div class="iphone-mockup">
      <%= image_tag('App/Iphone_X_home-page@2x.png', class: "app-home-page") %>
    </div>
  </div>
</div>
