<%= render "shared/navbar-white" %>
<div class="bike-main-container">

  <div class="page-1-bike-container">
    <div class="page-1-bike-content">
      <div class="text-content">
        <h1>Simplicity is a <span>lifestyle</span>.</h1>
        <p>Enjoy the simplicity of a bicycle shape<br>in urban mobility.</p>
      </div>
    </div>
  </div>
  <div class="page-2-bike-container">
    <div class="page-2-bike-content">
      <p class="title">THIN AND LIGHT</p>
      <div class="text-container">
        <div class="text-content">
          <h2>Navigate the<br><span>urban</span> jungle.</h2>
          <p>Forget about traffic jam, wake up later<br>and ride safe.</p>
        </div>
      </div>
    </div>
  </div>
   <div class="page-3-bike-container">
    <div class="page-3-bike-content">
      <div class="text-container">
        <div class="text-content">
          <p class="title">POWERFUL AND REMOVABLE</p>
          <h2>A removable<br><span>battery</span>.</h2>
          <p>Charge your battery anywhere.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-4-bike-container">
    <div class="page-4-bike-content">
      <div class="text-container">
        <div class="text-content">
          <p class="title">INTUITIVE RIDING EXPERIENCE</p>
          <h2>Move at your<br><span>rhythm</span>.</h2>
          <p>Increase the range of your bike with the<br>economic mode.</p>
          <div class="ecomode-container">
            <div class="ecomode-ON">
              <%= image_tag('App/ecomode-ON@2x.png', class: "ecomode") %>
              <p>Economic mode <span>[30km/h]</span></p>
            </div>
            <div class="ecomode-OFF">
              <%= image_tag('App/ecomode-OFF@2x.png', class: "ecomode") %>
              <p>Regular mode <span>[45km/h]</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-5-bike-container">
    <div class="page-5-bike-content">
      <div class="text-container">
        <div class="text-content">
          <p class="title">SOFT AND COMFORTABLE</p>
          <h2>A <span>rubber</span><br>suspension.</h2>
          <p>When comfort meets no maintenance<br>or reparation. This rear suspension<br>is unbreakable.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-details-bike-container">
    <div class="page-details-bike-content">
      <div class="vertical-grid">
        <div class="cube-container cube-top-left">
          <div class="text-content">
            <p class="title">HIGH STANDARDS</p>
            <h2>It's in the <span>details</span>.</h2>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image middle-left bg-color-grey">
            <p>Hydraulic brakes</p>
            <div class="little-border"></div>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image bottom-left bg-color-white">
            <p>Grips</p>
            <div class="little-border"></div>
          </div>
        </div>
      </div>
      <div class="vertical-grid">
        <div class="cube-container">
          <div class="card-image top-right bg-color-grey">
            <p>Bike dimensions</p>
            <div class="little-border"></div>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image middle-right bg-color-white">
            <p>Battery display</p>
            <div class="little-border"></div>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image bottom-right bg-color-grey">
            <p>Street legal</p>
            <div class="little-border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="technical-specs-container">
    <div class="technical-specs-content">
      <h2>Technical Specification</h2>
      <table>
        <tr>
          <th>Maximum speed</th>
          <td>45km/h [Regular mode] <span>OR</span> 30km/h [Economic mode]</td>
        </tr>
        <tr>
          <th>Battery range</th>
          <td>50km [Regular mode] <span>OR</span> 65km [Economic mode]</td>
        </tr>
        <tr>
          <th>Removable battery</th>
          <td>Lithium-ion 24Ah, 52V, 8kg</td>
        </tr>
        <tr>
          <th>Charging time</th>
          <td>100% recharged in 4 hours</td>
        </tr>
        <tr>
          <th>Street legal</th>
          <td>Car lisence (B) or motorcycle lisence (AM, A3)</td>
        </tr>
        <tr>
          <th>Motor</th>
          <td>Custom motor 2 kW</td>
        </tr>
        <tr>
          <th>Weight</th>
          <td>Lightest motorcycle on the market, 29.1kg</td>
        </tr>
        <tr>
          <th>Connectivity</th>
          <td>Bluetooth Low Energy</td>
        </tr>
        <tr>
          <th>Rider height</th>
          <td>Fit people between 155-200cm tall</td>
        </tr>
        <tr>
          <th>Warranty</th>
          <td>2 years</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>2,990€</td>
        </tr>
      </table>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>




<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-bike-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-white-container').addClass('solid-nav-greyblack');
          } else {
              $('.nav-white-container').removeClass('solid-nav-greyblack');
          }
      });
  });
</script>
