<%= render "shared/navbar-mobile" %>
<div class="infos-page-mobile-container">
  <div class="infos-page-mobile-content">
    <h1>Delivery</h1>
    <br>
    <p>Our prices do not include delivery. You have the option to pick up your Yoda at our main office in Brussels Belgium, free of charge, or have the Yoda delivered to you at an address in Belgium, for a fee.</p>
    <br>
    <p>Once your bike is ready, our delivery partner will get in touch with you to arrange for a delivery date and time. You’ll get a box and instructions and tools to finalize assembly (it will take 5 minutes and require no skills).</p>
    </div>
</div>
<%= render "shared/footer-mobile" %>
<div class="footer-mobile-height"></div>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-mobile-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
            $('.nav-mobile-container').addClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          } else {
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          }
      });
  });
</script>
<%= render "shared/fb-messenger" %>
