<%= render "shared/navbar" %>
<div class="navbar-height"></div>
<div class="infos-page-container">
  <div class="infos-page-content">
    <h1>Delivery</h1>
    <br>
    <p>We’re doing everything in our power for the delivery date to be as soon as possible. We are targeting spring 2020. Bear in mind however that some things are out of our hands. These include our suppliers timelines and the timeline of the administration providing the homologation. We will keep you informed at every step.</p>
    <br>
    <p>Our prices do not include delivery. You will have the option to pick up your Yoda at our main office in Uccle (Brussels, Belgium) free of charge, or have the Yoda delivered to you at an address in Belgium, for a fee (estimated as 50 EUR).</p>
    <br>
    <p>Once your Yoda is ready, we will get in touch with you to arrange for a delivery date and time. If you chhose to receive your Yoda, you will get a box containing the Yoda, instructions, and tools to finalize assembly. Assembly will take 5 minutes and require no skills.</p>
  </div>
</div>
<%= render "shared/footer" %>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-container').addClass('solid-nav');
          } else {
              $('.nav-container').removeClass('solid-nav');
          }
      });
  });
</script>

<%= render "shared/fb-messenger" %>
