<%= render "shared/navbar" %>
<div class="navbar-height"></div>
<div class="infos-page-container">
  <div class="infos-page-content">
    <h1>Returns</h1>
    <br>
    <p>Returns are free within 14 days, if you use the original packaging we provided to you. A new packaging can be ordered for 25 EUR. Contact us to arrange the logistics of your return. You do not need to provide a reason for the return.</p>
    <br>
    <p>Your return will be processed within 14 days, through the original method of payment used at the time of purchase.</p>

  </div>
</div>
<%= render "shared/footer" %>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-container').addClass('solid-nav');
          } else {
              $('.nav-container').removeClass('solid-nav');
          }
      });
  });
</script>

<%= render "shared/fb-messenger" %>
