<%= render "shared/navbar" %>

<div class="support-main-container">
  <div class="page-1-support-container">
    <div class="text-content">
      <h1>At your <span>service</span>.</h1>
      <p>We’ll offer you assistance before you<br>even realize you need it. And whatever<br>is going on, we’re ready to help.</p>
    </div>
  </div>

  <div class="page-2-support-container">
    <div class="left-container">
      <div class="text-content">
        <p class="title">NOTIFICATION</p>
        <h2>We are here<br><span>for you</span>.</h2>
        <p>We will proactively notify you when your Yoda<br>needs maintenance, for example when your<br>brake pads need replacing, or when to check<br>your tire pressure.</p>
      </div>
    </div>
    <div class="right-container"></div>
  </div>

  <div class="page-3-support-container">
    <div class="left-container"></div>
    <div class="right-container">
      <div class="text-content">
        <p class="title">SOFTWARE UPDATES</p>
        <h2>Stay<br><span>up-to-date</span>.</h2>
        <p>Performance upgrades such as an increased<br>battery lifetime, and new features such as theft detection<br> will be updated over-the-air in the future.</p>
      </div>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-support-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-container').addClass('solid-nav');
          } else {
              $('.nav-container').removeClass('solid-nav');
          }
      });
  });
</script>
