.footer-container{
  font-family: $body;
  background-color: $black;
  .footer-container-top{
    border-bottom: 1px solid $footer-font-grey;
    .footer-content-top{
      display: flex;
      margin-left: 120px;
      margin-right: 120px;
      padding: 130px 0;
      .content-left{
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .brand{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          .footer-logo{
            img{
              width: 190px;
            }
          }
          .text-content{
            h2{
              margin-top: 76px;
              margin-bottom: 20px;;
              color: white;
              font-weight: 400;
              font-size: 18px;
            }
            .social-network{
              display: flex;
              align-items: center;
              justify-content: space-between;
              i{
                font-size: 33px;
                font-weight: 500;
                color: white;
                &:hover{
                  color: $green;
                }
              }
              i:last-child{
                font-size: 35px;
              }
            }
          }
        }
        .list{
          list-style: none;
          li{
            padding: 10px 0;
            font-size: 18px;
            font-weight: 400;
            color: $footer-font-grey;
            a{
              color: $footer-font-grey;
              text-decoration: none;
              &:hover{
                color: $green;
                transition: 0.3s
              }
            }
          }
          li:first-child{
            color: white;
          }
          li:last-child{
            padding-bottom: 0px;
          }
        }
      }
      .newsletter{
        display: flex;
        align-items: flex-end;
        height: 100%;
        .newsletter-content{
          border-bottom: 1px solid $footer-font-grey;
          p{
            font-size: 18px;
            font-weight: 400;
            color: white;
            margin-bottom: 12px;
            margin-right: 45px;
            margin-left: 18px;
          }
          form.footer-form{
            display: flex;
          }
          input[type=text]{
            width: 79%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 0px;
            background-color: transparent;
            font-size: 18px;
            font-family: $body;
            text-indent: 0px;
            color: white;
            font-weight: 400;
            outline: none !important;
          }
          input[type=submit]{
            width: 21%;
            height: 100%;
            margin: 8px 0;
            display: inline-block;
            background-color: transparent;
            border: 0;
            color: $footer-font-grey;
            outline: none !important;
            z-index: 1;
          }
          i{
            margin-top: 10px;
            font-size: 25px;
            color: $footer-font-grey;
            cursor: pointer;
            &:hover{
              color: $green;
            }
          }
        }
      }
    }
  }
  .footer-container-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-content-bottom{
      padding: 70px 0;
      width: 40%;
      height: 100%;
      .legal-menu-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 400;
        a{
          text-decoration: none;
          color: white;
        }
        p{
          color: $footer-font-grey;
        }
      }
    }
  }
}

@media (max-width: 1450px) {
  .footer-container{
    .footer-container-top{
      .footer-content-top{
        .content-left{
          .brand{
            .footer-logo{
              img{
                width: 170px;
              }
            }
            .text-content{
              h2{
                font-size: 16px;
              }
              .social-network{
                i{
                  font-size: 30px;
                }
                i:last-child{
                  font-size: 30px;
                }
              }
            }
          }
          .list{
            li{
              font-size: 16px;
            }
          }
        }
        .newsletter{
          .newsletter-content{
            // border
            p{
              font-size: 16px;
              margin-right: 5px;
              margin-left: 0px;
            }
            form.footer-form{
            }
            input[type=text]{
              width: 75%;
              padding: 12px 0px;
              padding-right: 30px;
              font-size: 15px;
            }
            input[type=submit]{
            }
            i{
              margin-top: 13px;
              font-size: 23px;
            }
          }
        }
      }
    }
    .footer-container-bottom{
      .footer-content-bottom{
        .legal-menu-footer{
          font-size: 14px;
        }
      }
    }
  }
}


















