.footer-mobile-container{
  font-family: $body;
  background-color: $black;
  .footer-top-container{
    // border-bottom: 1px solid #707070;
    img.logo-image{
      width: 120px;
      margin-top: 20px;
      margin-left: 15px;
    }
    .list-menu{
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .list{
        list-style: none;
        li{
          text-align: left;
          padding: 8px 0;
          font-size: 14px;
          font-weight: 300;
          color: white;
        }
        a{
          text-decoration: none;
          color: white;
        }
        li:first-child{
          font-weight: 400;
          color: #9B9B9B;
          font-size: 17px;
        }
        li:last-child{
          padding-bottom: 0px;
        }
      }
      .list:last-child{
        margin-left: 60px;
      }
    }
    .newsletter-container{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      margin-top: 50px;
      .newsletter-content-mobile{
        border-bottom: 1px solid $light-grey;
        margin-right: 3px;
        p{
          font-size: 17px;
          font-weight: 400;
          color: $green;
        }
        form.footer-form{
          display: flex;
        }
        input[type=text]{
          width: 80%;
          padding: 8px 5px 8px 5px;
          margin: 8px 0;
          display: inline-block;
          border: 0px;
          background-color: transparent;
          font-size: 14px;
          font-weight: 500;
          font-family: $body;
          text-indent: 0px;
          color: white;
          font-weight: 400;
          outline: none !important;
        }
        input[type=submit]{
          width: 21%;
          height: 100%;
          margin: 8px 0;
          display: inline-block;
          background-color: transparent;
          border: 0;
          color: $light-grey;
          outline: none !important;
          z-index: 1
        }
        ::-webkit-input-placeholder { /* Edge */
          color: white;
          font-weight: 300;
          font-size: 14px;
        }
        i{
          margin-top: 12px;
          font-size: 20px;
          color: $light-grey;
          cursor: pointer;
        }
      }
    }
    .social-links{
      text-align: center;
      margin: 40px 0;
      .social{
        a{
          text-decoration: none;
        }
        a:last-child{
          margin-left: 30px;
        }
        i{
          font-size: 30px;
          color: white;
        }
      }
    }
  }
  .footer-bottom-container{
    text-align: center;
    .legal-menu-footer{
      display: flex;
      font-size: 11px;
      font-weight: 400;
      justify-content: space-between;
      margin: 0 30px;
      a{
        color: #636363;
        text-decoration: underline;
        margin: 30px 0 32px;
      }
      p{
        color: #636363;
        text-decoration: underline;
        margin: 30px 0 32px;
      }
    }
  }
}
.footer-mobile-height{
  height: 58px;
}
