.footer-container{
  font-family: $body;
  background-color: $black;
  .footer-container-top{
    border-bottom: 1px solid $footer-font-grey;
    .footer-content-top{
      display: flex;
      margin-left: 120px;
      margin-right: 120px;
      padding: 130px 0;
      .content-left{
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .brand{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          .footer-logo{
            img{
              width: 190px;
            }
          }
          .text-content{
            h2{
              margin-top: 76px;
              margin-bottom: 18px;
              color: white;
              font-weight: 500;
              font-size: 18px;
            }
            .social-network{
              display: flex;
              align-items: center;
              justify-content: space-between;
              i{
                font-size: 33px;
                font-weight: 500;
                color: white;
              }
              i:last-child{
                font-size: 35px;
              }
            }
          }
        }
        .list{
          list-style: none;
          li{
            padding: 10px 0;
            font-size: 18px;
            font-weight: 500;
            color: $footer-font-grey;
          }
          li:first-child{
            color: white;
          }
          li:last-child{
            padding-bottom: 0px;
          }
        }
      }
      .newsletter{
        display: flex;
        align-items: flex-end;
        height: 100%;
        .newsletter-content{
          border-bottom: 1px solid $footer-font-grey;
          p{
            font-size: 18px;
            font-weight: 500;
            color: white;
            margin-bottom: 12px;
            margin-right: 45px;
            margin-left: 18px;
          }
          form.footer-form{
            display: flex;
          }
          input[type=text]{
            width: 79%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 0px;
            background-color: transparent;
            font-size: 18px;
            font-weight: 500;
            font-family: $body;
            text-indent: 0px;
            color: white;
            font-weight: 500;
            outline: none !important;
          }
          input[type=submit]{
            width: 21%;
            height: 100%;
            margin: 8px 0;
            display: inline-block;
            background-color: transparent;
            border: 0;
            color: $footer-font-grey;
            outline: none !important;
            z-index: 1
          }
          i{
            margin-top: 10px;
            font-size: 25px;
            color: $footer-font-grey;
          }
        }
      }
    }
  }
  .footer-container-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-content-bottom{
      padding: 70px 0;
      width: 40%;
      height: 100%;
      .legal-menu-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 500;
        a{
          text-decoration: none;
          color: white;
        }
        p{
          color: $footer-font-grey;
        }
      }
    }
  }
}


