//**** Navbar mobile ****

.nav-mobile-container{
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: +1;
  .nav-mobile-content{
    padding: 30px;
    .nav-mobile-logo{
      img{
      width: 300px;
      }
    }
  }
}
.solid-nav {
  background-color: white;
  transition: background-color 0.2s linear;
}


.nav-footer-container{
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .btn-mobile-content{
    display: flex;
    .nav-mobile-btn{
      flex-basis: 50%;
      padding: 60px;
      text-align: center;
      p{
        padding: 0;
        margin: 0;
        font-family: $body;
        font-size: 40px;
        font-weight: 400;
      }
    }
    .test-ride{
      background-color: $black;
      color: white;
    }
    .buy{
      background-color: $green;
      color: $black;
    }
  }
}
