//**** Navbar mobile ****

.nav-mobile-container{
  padding: 8px 13px 2px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: +1;
  .nav-mobile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-mobile-logo{
      img{
      width: 33%;
      }
    }
  }
}
.solid-nav {
  background-color: white;
  transition: background-color 0.1s linear;
}

.nav-footer-container{
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 8%;
  background-color: white;
  .btn-mobile-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
      text-decoration: none;
    }
    .nav-mobile-btn{
      width: 135px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      border-radius: 25px;
      p{
        padding: 0;
        margin: 0;
        font-family: $body;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .rent{
      background-color: white;
      border: 1px solid $black;
      color: black;
      margin-left: 5px;
    }
    .buy{
      background-color: $black;
      border: 1px solid $black;
      color: white;
      margin-right: 5px;
    }
  }
}
