form.new-user{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input#user-email{
  width: 94%;
  padding: 0;
  margin-bottom: 7px;
  margin-right:0;
  border: none;
  border-bottom: 1px solid grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
}
input[type=submit]{
  margin-left: 0;
  width: 95%;
  padding: 8px;
  color: white;
  border: 0;
  font-size: 12px;
  border-radius: 3px;
  background-color: $black;
  -webkit-appearance: none;
  -moz-appearance: none;
}

