a{
  text-decoration: none;
}
.back-to-manage-btn{
  p{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  font-family: $body;
  margin-top: 25px;
  margin-left: 25px;
  }
}

.new-reviews-form-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $body;
  .new-reviews-form-content{
    width: 30%;
    form.new_review, form.edit_review{
      display: flex;
      flex-direction: column;
      font-size: 18px;
      input{
        margin: 20px 0 ;
        line-height: 1.5;
        border-radius: 2px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
      }
      select{
        margin: 20px 0;
        line-height: 1.5;
        border-radius: 2px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
      }
      textarea{
        margin: 20px 0;
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
      }
    }
  }
}
