// ****Fenetre refer 1****
.refer-mobile-container{
  font-family: $body;
  .first-refer-friends-mobile-container{
    width: 100%;
    background: image-url("Refer/sky_cloud_building_mobile.png") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img{
      width: 100%;
    }
    .refer-main-mobile-text-1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      h1{
        text-align: center;
        margin: 0;
        margin-bottom: 25px;
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 500;
        span{
          color: $green;
        }
      }
      h2{
        font-size: 16px;
        text-align: center;
        color: $black;
        font-weight: 400;
        margin: 0;
        margin-top: 80px;
        margin-bottom: 10px;
        letter-spacing: 1px;
      }
      p{
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        opacity: 0.8;
      }
      .copy-link{
        background-color: white;
        width: 100%;
        padding: 9px;
        border: 1px solid #001C7A;
        border-radius: 3px;
        font-size: 13px;
        text-align: center;
        font-weight: 300;
        box-shadow: 0 0 2px #001C7A;
        color: $black;
      }
      .social-links{
        display: flex;
        justify-content: center;
        margin: 25px 0 0px;
        a{
          margin-right: 30px;
        }
        a:last-child{
          margin-right: 0px;
        }
        i{
          font-size: 35px;
          color: #001C7A;
        }
      }
    }
  }
  .prizes-friends-mobile-container{
    // width: 100%;
    background: $bg-black;
    display: flex;
    flex-direction: column;
    .page-content-top{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      p.callout{
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin: 15px 0 0 0;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      p.place{
        text-align: center;
        font-size: 14px;
        color: grey;
        width: 100%;
        font-weight: 00;
        margin-top: 25px;
        span{
          color: #D90000;
          font-weight: bold;
        }
        #friend{
          color: #02AD0F;
        }
      }
      p.check{
        margin-top: 3px;
      }
    }
    ul.products{
      height: 405px;
      width: 320px;
      position: relative;
      z-index: 0;
      list-style: none;
      margin: 40px auto 0;
      li.title{
        height: 10%;
        color: white;
        font-weight: 500;
        font-size: 14px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        .friends{
          text-align: center;
          flex-basis: 50%;
          letter-spacing: 1px;
        }
        .rewards{
          text-align: center;
          flex-basis: 50%;
          letter-spacing: 1px;
        }
      }
      li.product{
        float: right;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        height: 10%;
        margin: 30% 0;
        .circle{
          height: 40px;
          width: 40px;
          border-radius: 20px;
          border: 1px solid #DAD9D2;
          text-align: center;
          line-height: 40px;
          color: white;
          overflow: hidden;
          font-weight: bold;
          font-size: 13px;
          margin-left: 60px;
        }
        .sep{
          width: 10px;
          height: 2px;
          background: transparent;
          margin: 0px 40px 0px;
        }
        .tooltip{
          height: 254px;
          width: 190px;
          border: 2px solid grey;
          position: absolute;
          top: -235px;
          left: 65px;
          display: none;
          background: #FFF;
          z-index: 1;
          img{
            margin: 0 auto;
            display: block;
          }
        }
        p{
          width: 25%;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          color: $light-grey;
          padding: 10px;
          border-radius: 3px;
        }
      }
      .selected{
        .circle{
          background: $green !important;
          border-color: white !important;
          color: $black !important;
        }
        p{
          background: $green !important;
          border-color: white !important;
          color: $black !important;
        }
      }
      li.product:hover, li.product:active, li.product:focus{
        cursor: pointer;
        .circle{
          color: $black;
          background: $green;
          border-color: white;
        }
        .tooltip{
          display: block;
        }
      }
      .progress{
        height: 100%;
        width: 4px;
        background: image-url("refer/progress-bg-mobile.png") 0 0 repeat-y;
        background-size: 4px 1px;
        position: absolute;
        top: 0px;
        left: 160px;
        z-index: 0;
        .mover{
          position: absolute;
          top: 0;
          left: 0px;
          #bar{
            background: image-url("refer/progress-done-mobile.png") 0 0 repeat-y;
            width: 4px;
            height: 0px;
            -webkit-background-size: 4px 1px;
            background-size: 4px 1px;
          }
          .yoda-icon{
            img{
              padding-top: 13px;
              width: 40px;
              border-bottom: 4px solid $green;
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
      }
      i{
        color: white;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        bottom : -13px;
        left: 50%;
      }
    }
    p.place{
      text-align: center;
      font-size: 14px;
      color: grey;
      width: 100%;
      font-weight: 00;
      margin-top: 35px;
      span{
        color: #D90000;
        font-weight: bold;
      }
      #friend{
        color: #02AD0F;
      }
    }
    p.check{
      margin-top: 3px;
    }
  }
}
